/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

header {
margin-top: 65px;
background-color: lightcoral;
}

h1 {
    text-align: center;
    font-size: 54px;
    letter-spacing: 3px;
    font-family: Waters Titling, Serif;
}
h2 {
    text-align: center;
    font-family: Waters Titling, serif;
    font-size: 28px;
    font-style: italic;


}
h3 {
    text-align: left;
    font-family: Waters Titling, serif;
    font-size: 20px; 
    color: #71573e;
    font-style: italic;


}
p {
    font-size: 17px;
    letter-spacing: 1px;
    text-align: left;

}
body {
font-family: Waters Titling, serif;
font-size: 15px;
background-color: #dcd5d0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}


ul.bullets li {
  background: #eddfd5;
  color: black;
  padding: 5px;
  margin-left: 35px;
 font-family: Waters Titling, serif;
}

.csssmall {
font-size: 15px;
}

.cssformat {
text-align: left;
font-size: 19px;
}

.cssformat2 {
    text-align: center;
    font-size: 17px;
}

.paperclip {
    font-weight: bold;
    font-size: 25px;
}

.send {
    font-weight: bold;
    font-size: 25px;
}



.bi-instagram { font-size: 100px; color: pink; }


.card-hover-text{
    display:none;
}
.card:hover .card-text{
    display:none;
}
.card:hover .card-hover-text{
    display:block;
}


.card-hover-img{
    display:none;
}
.card:hover .card-hover-off{
    display:none;
}
.card:hover .card-hover-img{
    display:block;
}